# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Windows
Thumbs.db